/* Colour Scheme 
Kelp
#373A2E

Straw
#D3C18C

Cascade
#92B1AF

Regent Gray
#828C98
*/

/* General page styling*/
html, body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar & logo styling */
.navbar-brand{
    color: #828C98;
    
    font-size: 2rem;
}
#navbar {
background-color: white;
  position: fixed;
  width: 100%;
   z-index: 999;
}
.navbar-toggler-icon{
    background-color: pink;
    border: 1px solid 
}
.navbar-brand:hover{
   color: #92B1AF; 
}

.navbar-nav, .nav-item {
    color: #828C98;
    font-weight:500;
}

.navbar-nav, .nav-item:hover{
    color: #92B1AF;
}

/* Landing page and font decoration */
#landing {
    height: 100vh;
    position: relative;
    background: url(../images/cape-wine-landing.jpg) no-repeat center center fixed; 
   background-size: cover;
    align-items: center;
    overflow:hidden;
    /* margin-bottom:10%; */
}
#landtext {
  position: absolute;
  text-align: center;
  top: 25%;
  left:15%;
  right: 15%;
  bottom: 15%;
}
.slogan-text{
    font-size:4rem;
    text-transform: uppercase;
    letter-spacing:0.10rem;
    color: white;
    font-family: monospace; 
}

.with-text{
    text-emphasis: bold;
    font-size:2rem;
    color: #92B1AF;
    font-family: monospace; 
}

.logo-text{
    font-size:6rem;
    text-transform: uppercase;
    color: white;
}
  #gobtn {
     align-items: center; 
    justify-content: center;
    cursor: pointer;
      margin-left: auto;
  margin-right: auto; 
} 

.bi-chevron-double-down{
    width: 7em; 
    height: 7em;
} 
#gobtn:hover {
    transition: .7s ease-in-out;
        padding-top: 1.5rem;
} 
/* Styling to About Us section */

.header {
    text-align:center;
    padding-top:7%; 
    color:#828C98;
    font-size:7em;
    letter-spacing:0.8rem;
    text-transform: uppercase;
}

.card{
    padding: 2%;
    border: none;
}
.card-title{
    color:#373A2E;
     text-transform: uppercase;
     text-align:center;
    padding-top:10%;
    font-size:3em;
}
.card-text{
    color:#373A2E;
     text-align:center;
    padding:6%;
    font-size:2rem;
}

.card-img {
  padding:0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* Functionality in Discovery section */
input[type=text] {
  width: 100%;
   padding: 0.75em 1.25em;
  margin: 0.5em 0;
  box-sizing: border-box;
  color:#373A2E;
  font-family:Montserrat;
  font-weight:500;
  font-size:1.2rem;
}
#resultsTable{
    font-family: Montserrat;
    color:#828C98;
}
#infowindow-content .title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}

#infowindow-content {
  display: inline;
}
/* Styling on the Discovery section */
.discovery{
    height: auto;
    background-color: #373A2E;
}
.discovery-text{
    color: white;
    padding: 1%;
    font-size: 1rem;
    text-align: center;
}
.filter-button{
    color: white; 
    text-transform: uppercase;
    width: 60%;
    font-size: 2em;
    letter-spacing: 0.6rem;
    background-color: #92B1AF;
    padding: 0,2%;
}

#map {
    min-height: 360px;
    padding-bottom: 20%;
}

/* Styling for the Contact US section */
 .contact {
    text-align: center;
    width: 100%;
 }

 .contact-details{
    display:inline;
    padding: 3%;
 }

 .detail{
     list-style-type:none;
 }

 .details-text{
    color: #373A2E;
    font-size:1.5em;
 }

 .getintouh-text{
     color: #373A2E;
     padding-bottom: 3%;
 }
.center-form{
    padding: 3%;
}
.sm{
    background-color: #373A2E;
}
/* Footer  Styling*/
.footer{
    background-color: #92B1AF;
}
.social-networks{
  text-align: center;
  width: 100%;
}

.social-networks li{
  display:inline;
}

.social-networks i{
  font-size:180%;
  margin:1%; 
 padding:2%;
  color:#373A2E;
}

/* Media Queries */

/*Media Query to reduce the font size on small screen */
@media screen and (max-width: 425px) {
  .slogan-text, .logo-text, .header, .navbar-brand {
      font-size:1.8rem;
  }
}

@media screen and (max-width: 425px) {
  .card-text {
      font-size:0.8rem;
  }
}


